# config file for ansible
# override global certain global settings

[defaults]
# default to inventory file of ./hosts
inventory      = ./hosts
# disable host checking to automatically add hosts to known_hosts
host_key_checking = False
# set the roles path to the local directory
roles_path     = ./

# Don't display deprecation warnings. There are several modules used 
# in examples that are deprecated, but the replacement modules have bugs.
# Notes in Playbooks/Roles have been made. 
deprecation_warnings = False


[persistent_connection]
# Increase timeout for network devices and slow commands
#   https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#command-timeout
command_timeout = 60