<config>
  <interfaces xmlns="urn:ietf:params:xml:ns:yang:ietf-interfaces">
    <interface>
      <name>{{item.interface_type}}{{item.interface_id}}</name>
      <description>{{item.description}}</description>
      {% if item.interface_type == "Loopback" %}
      <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:softwareLoopback</type>
      {% else %}
      <type xmlns:ianaift="urn:ietf:params:xml:ns:yang:iana-if-type">ianaift:ethernetCsmacd</type>
      {% endif %}
      <enabled>true</enabled>
      <ipv4 xmlns="urn:ietf:params:xml:ns:yang:ietf-ip">
        <address>
          <ip>{{item.ip_address}}</ip>
          <netmask>{{item.subnet_mask}}</netmask>
        </address>
      </ipv4>
    </interface>
  </interfaces>
</config>
